[defaults]

# Inventory
inventory = inventories/dev/hosts.yml

# Roles
roles_path = roles

# Output
stdout_callback = yaml
host_key_checking = False

# Python
interpreter_python = auto_silent

# Performance
forks = 50
gathering = smart

# Fact Cache
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400

# Timeouts
timeout = 30

# Mitogen
strategy_plugins = /opt/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear

[ssh_connection]

# Huge performance boost
pipelining = True

# SSH multiplexing
ssh_args = -o ControlMaster=auto \
           -o ControlPersist=60s \
           -o PreferredAuthentications=publickey

retries = 3

[privilege_escalation]

become = True
become_method = sudo
